# Secrets
*.pub
*.key
*.decrypted~*.yaml
/age.key
/cloudflare-tunnel.json
/github-deploy.key
/github-deploy.key.pub
/github-push-token.txt
# Template config files
/cluster.yaml
/nodes.yaml
# Kubernetes
kubeconfig
talosconfig
# Misc.
.private/
.task/
.venv/
.DS_Store
Thumbs.db
.env
.idea/
terraform/.terraform.lock.hcl
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/.terraform/modules/modules.json
terraform/.terraform/providers/registry.terraform.io/siderolabs/talos/0.8.1/darwin_arm64/CHANGELOG.md
terraform/.terraform/providers/registry.terraform.io/siderolabs/talos/0.8.1/darwin_arm64/LICENSE
terraform/.terraform/providers/registry.terraform.io/siderolabs/talos/0.8.1/darwin_arm64/README.md
terraform/.terraform/providers/registry.terraform.io/siderolabs/talos/0.8.1/darwin_arm64/terraform-provider-talos_v0.8.1
terraform/.terraform/providers/registry.terraform.io/vmware/vsphere/2.15.0/darwin_arm64/CHANGELOG.md
terraform/.terraform/providers/registry.terraform.io/vmware/vsphere/2.15.0/darwin_arm64/LICENSE
terraform/.terraform/providers/registry.terraform.io/vmware/vsphere/2.15.0/darwin_arm64/README.md
terraform/.terraform/providers/registry.terraform.io/vmware/vsphere/2.15.0/darwin_arm64/terraform-provider-vsphere_v2.15.0
synology-csi/.gitignore
synology-csi/build.sh
synology-csi/Dockerfile
synology-csi/go.mod
synology-csi/go.sum
synology-csi/LICENSE
synology-csi/main.go
synology-csi/Makefile
synology-csi/README.md
synology-csi/bin/synology-csi-driver
synology-csi/config/client-info-template.yml
synology-csi/config/client-info.yml
synology-csi/deploy/example/storageclass-nfs.yaml
synology-csi/deploy/example/storageclass-smb.yaml
synology-csi/deploy/helm/.helmignore
synology-csi/deploy/helm/Chart.yaml
synology-csi/deploy/helm/LICENSE
synology-csi/deploy/helm/Makefile
synology-csi/deploy/helm/README.md
synology-csi/deploy/helm/values.yaml
synology-csi/deploy/helm/templates/_helpers.tpl
synology-csi/deploy/helm/templates/client-info.yaml
synology-csi/deploy/helm/templates/controller.yaml
synology-csi/deploy/helm/templates/csidriver.yaml
synology-csi/deploy/helm/templates/node.yaml
synology-csi/deploy/helm/templates/NOTES.txt
synology-csi/deploy/helm/templates/snapshotter.yaml
synology-csi/deploy/helm/templates/storageclass.yaml
synology-csi/deploy/helm/templates/test.yaml
synology-csi/deploy/helm/templates/volumesnapshotclass.yaml
synology-csi/deploy/kubernetes/v1.19/controller.yml
synology-csi/deploy/kubernetes/v1.19/csi-driver.yml
synology-csi/deploy/kubernetes/v1.19/namespace.yml
synology-csi/deploy/kubernetes/v1.19/node.yml
synology-csi/deploy/kubernetes/v1.19/storage-class.yml
synology-csi/deploy/kubernetes/v1.19/snapshotter/snapshotter.yaml
synology-csi/deploy/kubernetes/v1.19/snapshotter/volume-snapshot-class.yml
synology-csi/deploy/kubernetes/v1.20/controller.yml
synology-csi/deploy/kubernetes/v1.20/csi-driver.yml
synology-csi/deploy/kubernetes/v1.20/namespace.yml
synology-csi/deploy/kubernetes/v1.20/node.yml
synology-csi/deploy/kubernetes/v1.20/storage-class.yml
synology-csi/deploy/kubernetes/v1.20/snapshotter/snapshotter.yaml
synology-csi/deploy/kubernetes/v1.20/snapshotter/volume-snapshot-class.yml
synology-csi/pkg/driver/controllerserver.go
synology-csi/pkg/driver/driver.go
synology-csi/pkg/driver/grpc.go
synology-csi/pkg/driver/identityserver.go
synology-csi/pkg/driver/initiator.go
synology-csi/pkg/driver/multipath.go
synology-csi/pkg/driver/nfs_utils.go
synology-csi/pkg/driver/nodeserver.go
synology-csi/pkg/driver/utils.go
synology-csi/pkg/dsm/common/config.go
synology-csi/pkg/dsm/service/dsm.go
synology-csi/pkg/dsm/service/share_volume.go
synology-csi/pkg/dsm/webapi/dsmwebapi.go
synology-csi/pkg/dsm/webapi/iscsi.go
synology-csi/pkg/dsm/webapi/share.go
synology-csi/pkg/dsm/webapi/storage.go
synology-csi/pkg/dsm/webapi/systeminfo.go
synology-csi/pkg/dsm/webapi/utils.go
synology-csi/pkg/interfaces/IDsmService.go
synology-csi/pkg/logger/logger.go
synology-csi/pkg/models/dsm_req_spec.go
synology-csi/pkg/models/dsm.go
synology-csi/pkg/utils/error.go
synology-csi/pkg/utils/utils.go
synology-csi/pkg/utils/hostexec/hostexec_test.go
synology-csi/pkg/utils/hostexec/hostexec.go
synology-csi/scripts/deploy.sh
synology-csi/scripts/functions.sh
synology-csi/scripts/uninstall.sh
synology-csi/synocli/main.go
synology-csi/synocli/cmd/dsm.go
synology-csi/synocli/cmd/lun.go
synology-csi/synocli/cmd/root.go
synology-csi/synocli/cmd/share.go
synology-csi/test/sanity/sanity_test.go
synology-csi/test/sanity/sanity-test-secret-file-template.yaml
